[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
umodbus = "*"
pylint = "*"
autopep8 = "*"
pytz = "*"
isort = "*"

[packages.sundial]
git = "https://github.com/SundialEnergy/python-sundial.git@v1.1.0"
